body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin_lock {
  width: 380px;
  margin: auto;
}

.flex_container{
  display: flex;
  /* height: 100vh; */
}

.flex_stack{
  flex-direction: column;
}

.flex_center{
  justify-content: center;
  align-items: center;
}

.grid_container{
  display: grid;
}

.txt_center{
  text-align: center;
}

.txt_right{
  text-align: right;
}

.container{
  height: 100vh;
}